<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>skyland</display-name>
	
	<!-- filter should before listener -->	
   	<filter>
		<filter-name>rewriteUrl</filter-name>
		<filter-class>web.filter.UrlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>rewriteUrl</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	

	
	<!-- listener should before servlet -->
 	<listener>
		<listener-class>web.start.InitSession</listener-class>
	</listener>
	
	<servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
	
	<!-- fck servlet begin -->  
   	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>
			net.fckeditor.connector.ConnectorServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet> 
	<!-- fck servlet ends -->

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    	<!--使用*.jsp后台将连续捕获请求并无法停止 -->
    	<url-pattern>*.htm</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    	<!--使用*.jsp后台将连续捕获请求并无法停止 -->
    	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
   
  <!-- fck servlet-mapping begin -->
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<!-- Do not wrap this line otherwise Glassfish will fail to load this file -->
		<url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
	</servlet-mapping>
	<!-- fck servlet-mapping ends -->

	<!-- 欢迎页面 -->
  	<welcome-file-list>
		<welcome-file>
            index.htm
        </welcome-file>
	</welcome-file-list>

</web-app>
